*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #37474f;
}
li{
	list-style: none;
	padding-bottom:2%; 
}

h1{
	margin-bottom: 6%;
}

ul{
	width: 80%;
}

i{
	margin-right: 5%;
}

h5{
	color: white;
	margin-top: 5%;
}
.cardBack{
	width:50%;
	height: 350px;
	border: solid 2px #0288d1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cardFront{
	background: linear-gradient(90deg, #0288d1 , #00bcd4);
	width:50%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 2px #0288d1;
}
.logoContainer{
	width: 50%;
	background: linear-gradient(90deg, #0288d1 , #00bcd4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.infoContainer{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.businessLogoFront{
	width: 70%;
}

.businessLogoBack{
	width: 50%;
}

